<h1>Candidates</h1>

<input type="checkbox" id="female" name="female" value="female">Female
<input type="checkbox" id="female" name="female" value="female">Male
<!-- <mat-checkbox [(ngModel)]="female">Female</mat-checkbox>
<mat-checkbox [(ngModel)]="male">Male</mat-checkbox> -->

<input type="text" onkeyup="filterCandidateList()" [(ngModel)]="searchTerm">

<table>
  <thead>
    <td>#</td>
    <td>First Name</td>
    <td>Last Name</td>
    <td>Email</td>
    <td>Gender</td>
  </thead>
  <tbody>
    <tr *ngFor="let candidate of candidatesList">
      <td>{{candidate['id'] | json}}</td>

      <td>{{candidate['first_name']}}</td>

      <td>{{candidate['last_name']}}</td>

      <td>{{candidate['email']}}</td>

      <td>{{candidate['gender']}}</td>
    </tr>
  </tbody>
</table>